:root {
	--border-radius: 15px;
	
	--general-spacing: 20px;
	
	--primary-color: #3e3e3e;
	--secondary-color: salmon;
	--neutral-light-color: #fff;
	--neutral-dark-color: #000;
	--background-color: #101010;
}

body {
	background-color: var(--background-color);
	overflow: hidden;
	margin: 0;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

#game {
	width: 100%;
	max-width: 1000px;
	padding: 20px;
	font-family: sans-serif;
}

#game .tiles_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	gap: var(--general-spacing);
}

#game .tiles_container .tile {
	position: relative;
	background-color: var(--primary-color);
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	border-radius: var(--border-radius);
	transition: all 150ms ease;
}

#game .tiles_container .tile.matched {
/*	background-color: green;*/
	pointer-events: none;
}

#game .tiles_container .tile .tile--front {
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	z-index: 2;
	background-color: var(--primary-color);
	border-radius: var(--border-radius);
	opacity: 0.0;
}

#game .tiles_container .tile .tile--back {
	position: relative;
	z-index: 1;
	font-size: 3rem;
}

#game .menu_wrapper {
	position: fixed;
	bottom: var(--general-spacing);
	right: var(--general-spacing);
	/*width: 300px;
	height: 100px;*/
	background: var(--primary-color);
	border: 1px solid var(--neutral-light-color);
	border-radius: var(--border-radius);
	padding: 0 50px;
	z-index: 99999;
}

#game .menu_wrapper .menu_players {
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--general-spacing);
}

#game .menu_wrapper .menu_players .player {
	display: flex; 
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#game .menu_wrapper .menu_players .player p,
#game .menu_wrapper .menu_players .player .player_score {
	color: var(--neutral-light-color);
	font-size: 3rem;
	line-height: 1;
	font-weight: 600;
}

#game .menu_wrapper .menu_players .player .player_score {
	display: block;
	padding: 10px 20px;
	font-size: 2.5rem;
	font-weight: 200;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: var(--border-radius);
}







